.card-box {
    margin-bottom: 40px;
    text-align: center;
    border-radius: 4px;
    padding: 20px 0;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
    max-width: 400px;
    margin: 50px auto;
    font-family: "Candara", sans-serif;
  }
  
  .card-box .card-title {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-box .card-description {
    max-width: 360px;
    margin: 0 auto;
    margin-top: 15px;
    user-select: none;
  }
  
 
  /*pico idea
  .card-card .card-description input {
    font-size: 20px;
  }
  
  .card-card.beginner {
    background: lightsalmon;
  }
  */

  .cards {
    max-width: 400px;
    margin: 50px auto;
    font-family: sans-serif;
}