<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * *  Cards Component  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

  <div class="title">

    <br><br><h1>Cards list</h1>

  </div>
    
  <div class="cards">

    <app-card *ngFor="let card of cards;index as i"
          (cardSelected)="onCardSelected($event)" 
                [card]="card" [cardIndex]= "i + 1"></app-card>

</div>